# version0.1 -> aller a numero de compte (scroll)

In [112]:
import dask.dataframe as dd
import pandas as pd
import numpy as np

df = dd.read_csv("/home/snowden/Work/WebApp-Flask/pgt-depenses-2016.csv")
df.head()
iter_csv = pd.read_csv("/home/snowden/Work/WebApp-Flask/pgt-depenses-2016.csv",
                       iterator=True,
                       chunksize=1000)

df = pd.concat([chunk[chunk["Unnamed: 1"].str.startswith(key, na=False)]
                for chunk in iter_csv])

df.head(50)
# regx to get the account number

,S-DPC| 0566| S01| 1034| 20160101| 20161231,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
14,NaN,Total compte 60100000 EAU FROIDE,NaN,9058.24,9058.24,NaN,656.1,NaN
32,NaN,Total compte 60200000 EDF SERVICES GENERAUX,NaN,416.99,416.99,NaN,48.34,NaN
44,NaN,Total compte 60410000 PRODUITS ENTRETIEN,NaN,851.31,851.31,NaN,141.9,NaN
70,NaN,Total compte 61100000 ENTRETIEN IMMEUBLE,NaN,7265.4,7265.4,NaN,1210.92,NaN
74,NaN,Total compte 61400001 CONTRAT EXTINCTEURS,NaN,55.67,NaN,55.67,9.28,NaN
79,NaN,Total compte 61500001 DEPENSES DIVERSES N/REC.,NaN,"50,72CR",NaN,NaN,"4,21CR",NaN
93,NaN,Total compte 61510007 PETITS TRVX DE PLOMBERIE,NaN,313.5,NaN,28.5,NaN,NaN
97,NaN,Total compte 61520000 TRAVAUX IMPORTANTS,NaN,NaN,654.5,59.5,NaN,NaN
101,NaN,Total compte 61610000 ASSURANCES,NaN,NaN,8870.41,NaN,NaN,NaN
111,NaN,Total compte 62110000 HONORAIRES SYNDIC,NaN,NaN,11655,1942.52,NaN,NaN
118,NaN,Total compte 62260000 ENVOI CONVOCATION & P.V.,NaN,NaN,677.02,NaN,NaN,NaN
122,NaN,Total compte 62260005 VACATION ASSEMBLEE GLE,NaN,NaN,396,66,NaN,NaN
127,NaN,Total compte 62700000 FRAIS BANCAIRE,NaN,NaN,67.02,NaN,NaN,NaN
131,NaN,Total compte 63210000 TAXE DE BALAYAGE,NaN,942,NaN,NaN,NaN,NaN
140,NaN,Total compte 71310002 REMBOURSEMENT ASSURANCE,NaN,NaN,NaN,NaN,NaN,NaN
148,NaN,Total compte 61420031 CONTRAT VMC,NaN,492.98,NaN,44.82,NaN,NaN
165,NaN,Total compte 61410001 CONTRAT EXTINCTEURS,NaN,NaN,67.87,11.31,NaN,NaN
171,NaN,Total compte 61500004 PETITS TRVX DE COUVERTURE,NaN,1124.2,NaN,102.2,NaN,NaN
178,NaN,Total compte 61510036 PETITS TRVX DE SERRURERIE,NaN,"246,40CR",NaN,"41,07CR",NaN,NaN
192,NaN,Total compte 60210001 EDF SERVICES GENERAUX,NaN,NaN,580.53,83.21,NaN,NaN
196,NaN,Total compte 61510135 PETITS TRVX DE PLOMBERIE,NaN,145.2,NaN,13.2,NaN,NaN
208,NaN,Total compte 61422001 ENTRET.COMPLET ASCENSEUR,NaN,1589.96,NaN,198,NaN,NaN
244,NaN,Total compte 60220000 EDF SERVICES GENERAUX,NaN,1019.71,NaN,147.87,NaN,NaN
270,NaN,Total compte 61120000 ENTRETIEN IMMEUBLE,NaN,5672.34,NaN,945.39,NaN,NaN
274,NaN,Total compte 61510235 PETITS TRVX DE PLOMBERIE,NaN,206.8,NaN,18.8,NaN,NaN
278,NaN,Total compte 61520003 TRAVAUX IMPORTANTS,NaN,NaN,NaN,144.5,NaN,NaN
290,NaN,Total compte 61422003 ENTRET.COMPLET ASCENSEUR,NaN,1866.4,NaN,232.44,NaN,NaN
312,NaN,Total compte 61422004 TELE ALARME 01.42.06.95.46,NaN,NaN,292.44,NaN,292.44,48.74
327,NaN,Total compte 60230000 EDF SERVICES GENERAUX,NaN,NaN,53.67,53.67,NaN,25.1
353,NaN,Total compte 61130000 ENTRETIEN IMMEUBLE,NaN,NaN,3757.43,3757.43,NaN,626.25
359,NaN,Total compte 61430001 CONTRAT EXTINCTEURS,NaN,NaN,217.09,NaN,217.09,36.18
365,NaN,Total compte 71340000 REMBOURSEMENT ASSURANCE,NaN,NaN,1591.41,NaN,NaN,NaN

 # Numero de compte

In [117]:
df3 = df['Unnamed: 1'].str.extract('(\d\d\d\d\d\d\d\d)', expand=True)
pd.DataFrame.dropna(df3)
df3.head(50)

            0
14   60100000
32   60200000
44   60410000
70   61100000
74   61400001
79   61500001
93   61510007
97   61520000
101  61610000
111  62110000
118  62260000
122  62260005
127  62700000
131  63210000
140  71310002
148  61420031
165  61410001
171  61500004
178  61510036
192  60210001
196  61510135
208  61422001
244  60220000
270  61120000
274  61510235
278  61520003
290  61422003
312  61422004
327  60230000
353  61130000
359  61430001
365  71340000

In [118]:
# No Regex